In [1]:
# Load the required libraries
import pandas as pd
import numpy as np

In [2]:
# Read data from file 'US_Accidents_May19.csv' 
df = pd.read_csv("F:/SMU/DS7331/Project/DS7331ProjectRepo/raw_data/US_Accidents_May19.csv") 

# Check the header of the data file (49 columns)
df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
# check the data set types
df.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,1.727177e+06,2.243939e+06,2.243939e+06,2.243939e+06,516762.000000,516762.000000,2.243939e+06,785537.000000,2.181674e+06,391569.000000,2.179472e+06,2.186659e+06,2.172579e+06,1.800985e+06,264473.000000
mean,2.073527e+02,2.382692e+00,3.646348e+01,-9.485567e+01,37.443109,-96.527543,2.879095e-01,5625.281008,6.123244e+01,26.042067,6.592758e+01,3.003747e+01,9.124096e+00,8.844042e+00,0.060439
std,1.940527e+01,5.488029e-01,4.958759e+00,1.709453e+01,5.126585,17.986406,1.532341e+00,11071.872897,1.914616e+01,13.478333,2.243013e+01,2.267242e-01,2.986359e+00,4.973200e+00,0.439698
min,2.000000e+02,0.000000e+00,2.457022e+01,-1.246238e+02,24.570110,-124.497829,0.000000e+00,1.000000,-7.780000e+01,-65.900000,4.000000e+00,0.000000e+00,0.000000e+00,1.200000e+00,0.000000
25%,2.010000e+02,2.000000e+00,3.348468e+01,-1.171362e+02,33.887450,-117.870577,0.000000e+00,803.000000,4.890000e+01,19.200000,5.000000e+01,2.992000e+01,1.000000e+01,5.800000e+00,0.000000
50%,2.010000e+02,2.000000e+00,3.586428e+01,-8.818469e+01,38.038480,-90.192310,0.000000e+00,2672.000000,6.300000e+01,28.700000,6.800000e+01,3.003000e+01,1.000000e+01,8.100000e+00,0.010000
75%,2.010000e+02,3.000000e+00,4.042111e+01,-8.085453e+01,41.393320,-80.895040,1.000000e-02,6846.000000,7.590000e+01,36.400000,8.500000e+01,3.015000e+01,1.000000e+01,1.150000e+01,0.040000
max,4.060000e+02,4.000000e+00,4.900076e+01,-6.711317e+01,49.075000,-67.109242,3.336300e+02,961052.000000,1.706000e+02,45.200000,1.000000e+02,3.304000e+01,1.400000e+02,8.228000e+02,10.800000

In [7]:
# view additional data set detail
print (df.dtypes)
print (df.info())

ID                        object
Source                    object
TMC                      float64
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2243939 entries, 0 to 2243938
Data columns (total 49 columns):
ID                       object
Source                   object
TMC                      float64
Severity                 int64
Start_Time               object
End_Time                 object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description              object
Number                   float64
Street                   object
Side                     object
City                     object
County                   object
State                    object
Zipcode                  object
Country                  object
Timezone                 object
Airport_Code             object
Weather_Timestamp        object
Temperature(F)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction           object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition        object
Amenity                  bool
Bump                     bool
Crossing                 bool
Give_Way                 bool
Junction                 bool
No_Exit                  bool
Railway                  bool
Roundabout               bool
Station                  bool
Stop                     bool
Traffic_Calming          bool
Traffic_Signal           bool
Turning_Loop             bool
Sunrise_Sunset           object
Civil_Twilight           object
Nautical_Twilight        object
Astronomical_Twilight    object
dtypes: bool(13), float64(14), int64(1), object(21)
memory usage: 644.1+ MB
None

In [12]:
# review records per State
df['State'].value_counts()

CA    484706
TX    237637
FL    177490
NC    108916
NY    105523
SC     99890
PA     75814
MI     74045
IL     71701
GA     66637
VA     61426
WA     50480
OH     46100
AZ     43411
OR     42565
TN     42464
NJ     40346
MN     40000
LA     38143
OK     36183
MD     34315
CO     26916
MA     26096
IN     24162
UT     23212
MO     22481
AL     22063
NE     19328
CT     18708
KY     13765
WI     12884
IA      8336
RI      8298
NV      7389
NH      5593
KS      5486
MS      4586
NM      3889
DE      3124
DC      2558
WV      1951
ME      1580
ID      1352
AR      1019
WY       438
MT       434
VT       418
SD        44
ND        37
Name: State, dtype: int64

In [13]:
# review records per State
df['Severity'].value_counts()

2    1455524
3     715582
4      72002
1        814
0         17
Name: Severity, dtype: int64